Support a date type

Similar to how `datetime` follows the ISO 8601 format, the `date` primitive should do the same. 

https://en.wikipedia.org/wiki/ISO_8601#Dates
> Although the standard allows both the "YYYY-MM-DD" and YYYYMMDD formats for complete calendar date representations, if the day [DD] is omitted then only the YYYY-MM format is allowed.

The proposal would be to add `date` as a primitive, support `YYYY-MM-DD` and `YYYYMMDD` over the wire, and have the generators use types from each programming languages standard library (e.g. `datetime.date` in Python or `java.util.LocalDate` in java). 

+1 

+1

+1

Fern now supports RFC 3339, section 5.6 dates and datetimes https://docs.buildwithfern.com/definition/types 

PR: https://github.com/fern-api/fern/pull/1400