Fern linter should treat scheme in securityScheme Object as case-insensitive

### Which Fern component?

Fern CLI

### How urgent is this?

P3 - Low (Nice to have)

### What's the issue?

1. Steps to reproduce
  - Initialize a fern project with an OpenAPI file that has a security scheme with `type: http, scheme: Bearer`. Make sure to capitalize the "B" in "Bearer".
  - Run `fern check`
2. Expected behavior
  - No errors reported, because the value of the `scheme` field is case-insensitive. This is per RFC 7235 Section 2.1 and was clarified in the recent 3.0.4 and 3.1.1 point releases of the spec [[ref](https://spec.openapis.org/oas/v3.1.1.html#fixed-fields-23)].
3. Actual behavior
  - `fern check` issues this message:
  ```
  [api]: Failed to convert security scheme {"type":"http","scheme":"Bearer"}
 ```
  but if the value of `scheme` is changed to "bearer", `fern check` completes with no errors
4. Environment
  - Docker container: mcr.microsoft.com/devcontainers/dotnet:1-8.0 inside VSCode

### Workaround

Use `scheme: bearer` with lowercase "b".

### Logs & Additional Context

_No response_