[Feature] Support generating an OAuth function

The Client Credentials Flow (defined in [OAuth 2.0 RFC 6749, section 4.4](https://tools.ietf.org/html/rfc6749#section-4.4)) involves an application exchanging its application credentials, such as client ID and client secret, for an access token. [More on this.](https://auth0.com/docs/get-started/authentication-and-authorization-flow/client-credentials-flow)

Fern should generate this function for each SDK if a user specifies that their auth scheme is OAuth.